
<img src="/images/manage_account_creation.jpg" style="width:800px">

<div class="foreground_content"
    <% if current_user.account_type == "teller" %>
        <div>Create accounts for Users</div>
        <%= form_for current_user do |f| %>
            <%= f.select :from_account, User.where("account_type = 'user'").collect {|user| [sprintf("%s",user.email), user.id]}, :prompt => "Select user to create account for" %>
            <%= f.select :account_type, options_for_select([["Select an account type",""],["Checkings","Checkings"], ["Savings","Savings"]])%>
            <%= f.hidden_field 'id' %>
            <%= f.submit 'create account' %>
        <% end %>
        <br />
        <br />
        <br />
    <% end %>
</div>
