<img src="/images/manage_deposit.jpg" style="width:800px">

<br></br>

<div class="foreground_content">
    <% if current_user.account_type == "teller" %>
        <%= form_for current_user do |f| %>
            <%= f.select :to_account, Account.where("closed = false").collect {|account| [sprintf("%d - %s - %s",account.account_number,account.account_type, account.owner), account.id]}, :prompt => "Select account to deposit into" %>

            <%= text_field_tag 'amount', '0'%>
            <%= f.hidden_field 'id' %>
            <%= f.submit 'deposit' %>
        <% end %>
    <% end %>
</div>
